
<!DOCTYPE html>
<html>
  <head>
    <title>noUiSlider Example</title>
  </head>

  <body>

<div class="hider" style="display: none; position: absolute; z-index: 101; width: 100%; height: 100%; background: rgba(255,255,255,0.8);">
  <%= image_tag "logo.svg", class: 'spinning_loader' %>

</div>

<div class="container step0" style="z-index: 300;">

  <a class="show_first_step">
    <div class="logo">
      <%= image_tag "logo.svg", class: 'first_landing_logo' %>
    </div>

    <div class="landing_title">
      Hungry?
    </div>
  </a>
</div>

<!-- FIRST STEP AFTER LANDING -->
<header class="top_header">
  <div class="ui green active striped progress" id="top_progress">
    <div class="bar" id="pbar" style="width: 25%; height: 100%;"></div>
  </div>
  <div class="logo_corner">
    <%= image_tag 'logo.svg' %>
  </div>
</header>

<div class="step1">
  <div class="cuisine_container">
    <div class="cuisines" style="width: 500px">

      <h2 class="craving_header">What are you Craving?</h2>

      <ul class="cuisine_btns">
        <li>
          <button class="cat_btn" value="Indian">Indian</button>
        </li>
        <li>
          <button class="cat_btn" value="Chinese">Chinese</button>
        </li>
        <li>
          <button class="cat_btn" value="Mexican">Mexican</button>
        </li>
        <li>
          <button class="cat_btn" value="Japanese">Japanese</button>
        </li>
        <li>
          <button class="cat_btn" value="Greek">Greek</button>
        </li>
        <li>
          <button class="cat_btn" value="Moroccan">Moroccan</button>
        </li>
        <li>
          <button class="cat_btn" value="Korean">Korean</button>
        </li>
        <li>
          <button class="cat_btn" value="Turkish">Turkish</button>
        </li>
        <li>
          <button class="cat_btn" value="Thai">Thai</button>
        </li>
        <li>
          <button class="cat_btn" value="Middle Eastern">Middle Eastern</button>
        </li>
      </ul>
    </div>
    <div class="lets_eat">
      <ul class="lets_eat_buttons">
        <li>
        <button class="eat_btn" id="readytoeat"> Ready to eat </button>
        </li>
        <li>
        <button class="eat_btn" id="idgas"> Don't give a shit</button>
        </li>
      </ul>
    </div>
  </div>


</div>



<div class="step2" style="position: absolute; top: 30px; width: 100%; height: 100%; right: -100%; background: #FFF;">

  <div class="order_container" style="position: absolute; width: 35%;top: 0; padding-top: 100px;">
    <div class="order_details">

      <h3 style="font-size: 1.6rem; margin-bottom: 15px; text-align: center;">How Many Servings?</h3>

    <div id="slider"></div>

    <div id="people" style="text-align: center; margin-top: 10px; font-size: 2.6rem;">
      <i class="fa fa-user"></i>
    </div>

      <h3 class="results servings" style="text-align: center; margin-top: 10px; font-size: 1.25rem;"> 1 Serving</h3>

      <h3 style="font-size: 1.6rem; margin-bottom: 15px; margin-top: 50px; text-align: center;">What's your budget per serving?</h3>

      <div class="budgetslider"></div>

      <h3 class="budg results" id="input-with-keypress"  style="text-align: center; margin-top: 10px; font-size: 1.45rem;"> $10-15 </h3>

    </div>
  </div>


  <div class="delivery_container" style="position: absolute; width: 40%; left: 35%;top: 0; padding-top: 40px;">
    <div class="delivery_details" style="margin-top: 4rem;">
    <h3 class="delivery_heading" style>Delivery Address</h3>
      <form>
        <input type="text" name="firstname" class="firstname" placeholder="First Name"><br>
        <input type="text" name="lastname" class="lastname" placeholder="Last Name"><br>
        <input type="text" name="street" class="street" placeholder="Street"><br>
        <input type="text" name="zip" class="zip" placeholder="Zip">
      </form>
    </div>
  </div>



  <div class="feed_me_container" style="position: absolute; width: 25%; left: 75%; top: 0; padding-top: 130px">

    <div id="red" class="modalButton button red text-blanco text-shadow-negra feedme" data-popup="popupOne">Feed Me</div>
  </div>


</div>



  <section class="modal modalWindow" id="popupOne">
    <section class="modalWrapper">
      <h2>Check Out</h2>
      <div class="billing_container">
           <div class="billing_details">
             <h3 class="billing_heading">Billing Information</h3>
               <form>
                <input type="text" pattern="[0-9]{13,16}" name="creditcard" placeholder="Credit Card"> <br>
                <input id="month" type="text" name="month" placeholder="MM">
                <input id="year" type="text" name="year" placeholder="YY">
                <input id="security_code" type="text" name="securitycode" placeholder="111">

                <hr>
              <h3 class="billing_heading">Billing Address</h3>
                <input type="text" name="street" placeholder="Street"><br>
                <input type="text" name="zip" placeholder="Zip">
                <input type="text" name="tel" placeholder="416-555-555">

             </form>
           </div>
      </div>


    </section>
    <a class="closeBtn">CLOSE X</a>
  </section>
  <section class="modal overlay"></section>
</div>




<div class="step3" style="position: absolute; z-index: 100;top: 30px; width: 100%; height: 100%; right: -100%; background: #FFF;">
  <div class="summary_container">

      <div class="summary_title">
      Order Summary
      </div>

     <div class="summary_title_grp">

      <table class="summary_table">
        <tr>
          <td class="summary_item_title">
            cuisine
          </td>
        </tr>
        <tr>
          <td class="summary_item menu_selection">
            <span id="cuisine_summary"></span>
          </td>
        </tr>
      </table>

        <table class="summary_table">
        <tr>
          <td class="summary_item_title">
            servings
          </td>
        </tr>
        <tr>
          <td class="summary_item servingschosen">
            <span id="servings_summary"></span>
          </td>
        </tr>
      </table>

        <table class="summary_table">
        <tr>
          <td class="summary_item_title">
            delivery address
          </td>
        </tr>
        <tr>
          <td class="summary_item addressgiven">
            <span id="street_summary"></span>, <span id="zip_summary"></span>
          </td>
        </tr>
      </table>

    </div>

  </div>


  <div class="subtotal_container">

    <div class="summary_title_grp">

        <div class="subtotal_title">
        subtotal
        </div>

        <div class="price_total">
          $<span id="price_summary"></span>
        </div>

        <div class="tip_title">
          tip: (default 15%)
        </div>

        <input class="tip_total" id="tip_summary">
        </input>

        <div class="total_title">
          total
        </div>

        <div class="final_total">
          $<span id="total_summary"></span>
        </div>

      </div>

      <button class="take_money"> take my money </button>

    </div>

  </div>
</div>

<div class="step4" style="background: #0078AB; position: absolute; z-index: 100; top: 30px; width: 100%; height: 100%; right: -100%; color: #FFF">
  <div class="cheat" style="position: absolute; right: 10px; bottom: 30px; font-size: 3rem; cursor: pointer;">Cheat!</div>
  <h2 style="margin-top: 50px; text-align: center; font-size: 5rem; color: #a1cf64;" class="final_success">Success!</h2>
  <p style="width: 50%; margin: 0 auto; text-align: center; font-size: 1.5rem; margin-top: 20px;">Your food will arrive shortly. Hope you get something good!<br><br><span style="font-weight: 400; font-size: 0.8em;">Estimated Delivery Time:</span></p>

  <div class="custom_container">
    <div id="countdown">
        <span id="hours"></span>
        <span class="dot">:</span>
        <span id="minutes"></span>
        <span class="dot">:</span>
        <span id="seconds"></span>
    </div>
</div>

  <div class="menu_items">

  </div>

</div>


<script>

jQuery('.tip_total').keyup(function () {
    this.value = this.value.replace(/[^0-9\.]/g,'');
});

 $(".tip_total").blur(function() {
      $(this).val(Number($(this).val()).toFixed(2));
  });


</script>

<script>

  $(document).ready(function(){

    var selected_cuisines = [];

    $(".show_first_step").click(function() {
      $(".step0").slideUp(1000);
    });

    $('.ui.checkbox')
      .checkbox()
    ;

    $('.cat_btn').click(function(){
      var selected_cuisines = categoryToggle(this);


    });

    $(".street, .zip").keyup(function() {
      $("#street_summary").html( $(".street").val() );
      $("#zip_summary").html( $(".zip").val() );
    });

    // BUTTON CLICKS TO GO TO NEXT PAGE

    $(".eat_btn").click(function() {
      $("#pbar").css({width: '50%'})
      $(".step2").animate({
        right: 0
      }, 1000);
    });

    $("#red").click(function() {
      $(".hider").fadeIn(500);
    });

    $(".take_money").click(function() {
      $("#pbar").css({width: '100%'})
      $(".step4").animate({
        right: 0
      }, 1000);
    })

    $(".cheat").click(function() {
      $(".menu_items").fadeIn(500);
    })

    function categoryToggle(cuisine) {
      $(cuisine).toggleClass('highlight');
      $("#cuisine_summary").html($(cuisine).html());
      if ( $(cuisine).hasClass('highlight') )  {
        selected_cuisines.push( $(cuisine).attr("value") );
      } else {
        var index = selected_cuisines.indexOf($(cuisine).html());
        if (index > -1) {
         selected_cuisines.splice(index, 1);
        }
      }

      return selected_cuisines
    }

    function goToStepTwo(){

    }

    var normal_logo = "<%= asset_path 'logo.svg' %>";
    var squint_logo = "<%= asset_path 'logo_squint.svg' %>";

    $(".first_landing_logo").mouseenter(function() {
      $(this).attr("src", squint_logo );
    }).mouseleave(function() {
      $(this).attr("src", normal_logo );
    });

    $("#idgas").click(function() {

      $( ".cat_btn" ).each(function() {
        $( this ).addClass( "highlight" );
        selected_cuisines = [];
        selected_cuisines.push( $(this).attr("value") );
      });

       $("#cuisine_summary").html("Random");

      $(".cat_btn").addClass("highlight");

      goToStepTwo()
    });

    $("#readytoeat").click(function() {

      goToStepTwo()
    });


    settings = {
        //Model Popup
        objModalPopupBtn: ".take_money",
        objModalCloseBtn: ".overlay, .closeBtn",
        objModalDataAttr: "data-popup"
    }
      $(settings.objModalPopupBtn).bind("click", function () {
            if ($(this).attr(settings.objModalDataAttr)) {

                var strDataPopupName = $(this).attr(settings.objModalDataAttr);


                //Fade In Modal Pop Up
                $(".overlay, #" + strDataPopupName).fadeIn();

            }
        });

        //On clicking the modal background
        $(settings.objModalCloseBtn).bind("click", function () {
            $(".modal").fadeOut();
        });


        var slider = $('.budgetslider'),
        input = $('#input-with-keypress');

        // Listen to keydown events on the input field.
        input.keydown(function( e ) {

          // Convert the string to a number.
          var value = Number( slider.val() );

          // 38 is key up,
          // 40 is key down.
          switch ( e.which ) {
            case 38: slider.val( value + 1 );
              break;
            case 40: slider.val( value - 1 );
              break;
          }
        });

        slider.noUiSlider({
          start: 0,
          step:5,
          connect: "lower",
          range: {
            'min': 10,
            'max': 40
          }
        });

        $("#slider").noUiSlider({
          start: 1,
          step:1,
          connect: "lower",
          range: {
            'min': 1,
            'max': 10
          }

        });

        $('#slider').on({
          slide: function(){
            $("#people").html('');
              var slidervalz = $('#slider').val();
              slidervalz = parseInt(slidervalz);
              for ( var i = 0; i < slidervalz; i++ ) {
              // Logs "try 0", "try 1", ..., "try 4".
                $("#people").append('<i class="fa fa-user"></i>');
              }
              if (servings == 1){
                 var servings = slidervalz + ' Serving';

              }else {
                 var servings = slidervalz + ' Servings';

              }
              $('.servings, #servings_summary').html(servings);

          },
          set: function(){
            var slidervalz = $('#slider').val();
            // for ( var i = 0; i < slidervalz; i++ ) {
            // // Logs "try 0", "try 1", ..., "try 4".
            // // $("#people").append('<i class="fa fa-user"></i>');
            // }
          }
        });



        $('.budgetslider').on({
          slide: function(){
            var sliderval = $('.budgetslider').val();
            sliderval = parseInt(sliderval);
            var upper = parseInt(sliderval) + 5;
            var sliderrange = '$' + sliderval + ' - ' + '$' + upper;

            $('#input-with-keypress').val(sliderrange);
          },
          set: function(){
            var sliderval = $('.budgetslider').val();
            sliderval = parseInt(sliderval);
            var upper = parseInt(sliderval) + 5;
            var sliderrange = '$' + sliderval + ' - ' + '$' + upper;


            $('#input-with-keypress').html(sliderrange);

          }
        });

        $('.feedme').click(function(){


                var firstname = $('.firstname').val();

                var lastname = $('.lastname').val();

                var street = $('.street').val();

                var zip = $('.zip').val();

                var lower = $('.budgetslider').val();
                var upper = parseInt( $('.budgetslider').val() ) + 30;

                var servings = $('#slider').val();

             $.ajax({
                type: "POST", // use method specified in form attributes
                url: 'http://localhost:3000/menus', // use action specified in form attributes (servlet)
                data: { cuisines: selected_cuisines, firstname : firstname, lastname : lastname, street : street, zip : zip, lower : lower, upper : upper, servings : servings }, // encodes set of form elements as string for submission
                success: function(data) {

                  $("#pbar").css({width: '75%'});
                  $(".hider").fadeOut(500);

                  $(".step3").animate({
                    right: 0
                  }, 1000);

                 console.log(data);


                  var subtotal = 0;

                  _.each(data, function(item) {
                    $(".menu_items").append("<div class='menu_item'><strong>"+item["name"]+"</strong><p class='mi_descrip'>"+item["descrip"]+"</p><p class='mi_price'>"+item["price"]+"</p></div>");



                    subtotal += parseFloat(item["price"]);

                  });

                  console.log(subtotal);

                  var price_string = subtotal.toString().substr(0,5)

                  $("#price_summary").html(price_string);
                  $("#tip_summary").val( (subtotal * 0.15).toFixed(2) );
                  $("#total_summary").html( (subtotal * 1.15).toFixed(2) );

                  // $('.addressgiven').html(street);
                  // $('.servingschosen').html(servings);
                  // $('.menu_selection').html();


                }
            });


        });

        /*

rid:        @restaurant["restaurant_id"],
     em:         "test@test.com",
     tray:       @tray,
     tip:        '5.05',
     first_name: "Joshua",
     last_name:  "Tester",
     phone:      "6478967502",
     zip:        zip,
     addr:       addr,
     city:       city,
     state:      state,
     card_name:        "Joshua Tester",
     card_number:      '4111111111111111',
     card_cvc:         '123',
     card_expiry:      '02/2016',
     card_bill_addr:   addr,
     card_bill_addr2:  "",
     card_bill_city:   city,
     card_bill_state:  state,
     card_bill_zip:    zip,
     card_bill_phone:  "6478967502",
     delivery_date:    "ASAP"
        */


        // $('.ccsubmit').click(function(){


        //         var name = $('.name').val();

        //         var street = $('.street').val();

        //         var zip = $('.zip').val();

        //         var phone = $('.phone').val();
        //   var lower = $('.budgetslider').val();
        //   var upper = parseInt(sliderval) + 5;

        //   var servings = $('#slider').val();

        //      $.ajax({
        //         type: "POST", // use method specified in form attributes
        //         url: '?page_id=1116', // use action specified in form attributes (servlet)
        //         data: { name : name, street : street, zip : zip, phone : phone, lower : lower, upper : upper, servings : servings }, // encodes set of form elements as string for submission
        //         success: function(data) {

        //           var result = jQuery.parseJSON(data);
        //           // result['status']


        //         }
        //     });


        // });


var end = new Date();
end.setMinutes(end.getMinutes() + 45);


var _second = 1000;
var _minute = _second * 60;
var _hour = _minute * 60;
var _day = _hour *24
var timer;

function showRemaining()
{
    var now = new Date();
    var distance = end - now;
    if (distance < 0 ) {
       // handle expiry here..
       clearInterval( timer ); // stop the timer from continuing ..
       alert('Expired'); // alert a message that the timer has expired..

       return; // break out of the function so that we do nowt update the counters with negative values..
    }
    var days = Math.floor(distance / _day);
    var hours = Math.floor( (distance % _day ) / _hour );
    var minutes = Math.floor( (distance % _hour) / _minute );
    var seconds = Math.floor( (distance % _minute) / _second );

    $("#hours").html(hours);
    $("#minutes").html(minutes);
    $("#seconds").html(seconds);
}

timer = setInterval(showRemaining, 1000);


    });


  </script>


