
<!DOCTYPE html>
<html>
  <head>
    <title>noUiSlider Example</title>
  </head>

  <body>

<div class="container step0" style="display:none">

  <a class="show_first_step">
    <div class="logo">
      <%= image_tag "logo.svg" %>
    </div>

    <div class="landing_title">
      Hungry?
    </div>
  </a>
</div>

<!-- FIRST STEP AFTER LANDING -->
<header class="top_header">
  <div class="ui green active striped progress" id="top_progress">
    <div class="bar" style="width: 25%; height: 100%;"></div>
  </div>
  <div class="logo_corner">
    <%= image_tag 'logo.svg' %>
  </div>
</header>

<div class="step1">
  <div class="cuisine_container">
    <div class="cuisines" style="width: 500px">
      
      <h2 class="craving_header">What are you Craving?</h2>
    
      <ul class="cuisine_btns">
        <li>
          <button class="cat_btn" value="Indian">Indian</button>
        </li>
        <li>
          <button class="cat_btn" value="Chinese">Chinese</button>
        </li>
        <li>
          <button class="cat_btn" value="Mexican">Mexican</button>
        </li>
        <li>
          <button class="cat_btn" value="Japanese">Japanese</button>
        </li>
        <li>
          <button class="cat_btn" value="Greek">Greek</button>
        </li>
        <li>
          <button class="cat_btn" value="Moroccan">Moroccan</button>
        </li>
        <li>
          <button class="cat_btn" value="Korean">Korean</button>
        </li>
        <li>
          <button class="cat_btn" value="Turkish">Turkish</button>
        </li>
        <li>
          <button class="cat_btn" value="Thai">Thai</button>
        </li>
        <li>
          <button class="cat_btn" value="Middle Eastern">Middle Eastern</button>
        </li>
      </ul>
    </div>
    <div class="lets_eat">
      <ul class="lets_eat_buttons">
        <li>
        <button class="eat_btn" id="readytoeat"> Ready to eat </button>
        </li>
        <li>
        <button class="eat_btn" id="idgas"> Don't give a shit</button>
        </li>
      </ul>
    </div>
  </div>


</div>

<div class="step2" style="margin-top: 25%; position: relative; height: 100%;">

  <div class="order_container" style="position: absolute; width: 35%;top: 0;">
    <div class="order_details">
    
      <h3>How Many Servings?</h3>

    <div id="slider"></div>

    <div id="people"></div>

      <h3 class="results"> 7 Servings</h3>

      <h3>What's your budget?</h3>

      <div class="budgetslider"></div>

      <h3 class="results" id="input-with-keypress"> $30-50 </h3>

    </div>
  </div>


  <div class="delivery_container" style="position: absolute; width: 40%; left: 35%;top: 0;">
    <div class="delivery_details">
    <h3 class="delivery_heading">Delivery Address</h3>
      <form>
        <input type="text" name="firstname" placeholder="First Name"><br>
        <input type="text" name="lastname" placeholder="Last Name"><br>
        <input type="text" name="street" placeholder="Street"><br>
        <input type="text" name="zip" placeholder="Zip">
      </form>
    </div>
  </div>


  

  <div class="feed_me_container" style="position: absolute; width: 25%; left: 75%; top: 0;"> 
    <div id="red" class="modalButton button red text-blanco text-shadow-negra" data-popup="popupOne">Feed Me</div>
  </div>


</div>



  <section class="modal modalWindow" id="popupOne">
    <section class="modalWrapper">
      <h2>Check Out</h2>
      <div class="billing_container">
           <div class="billing_details">
             <h3 class="billing_heading">Billing Information</h3>
               <form>
                <input type="text" pattern="[0-9]{13,16}" name="creditcard" placeholder="Credit Card"> <br>
                <input id="month" type="text" name="month" placeholder="MM">
                <input id="year" type="text" name="year" placeholder="YY">
                <input id="security_code" type="text" name="securitycode" placeholder="111">

                <hr>
              <h3 class="billing_heading">Billing Address</h3>
                <input type="text" name="street" placeholder="Street"><br>
                <input type="text" name="zip" placeholder="Zip">
                <input type="text" name="tel" placeholder="416-555-555">

             </form>
           </div>
      </div>


    </section>
    <a class="closeBtn">CLOSE X</a>
  </section>
  <section class="modal overlay"></div>
</div>

<!-- OLD STUFF -->
<div style="display:none;">
  <h1>Order food motherfucker</h1>

  <%= form_tag "/menus" do %>
    <%= text_field_tag 'budget_low', nil, placeholder: 'budget (low)' %>
    <%= text_field_tag 'budget_high', nil, placeholder: 'budget (high)' %>
    <br><br>
    <%= text_field_tag 'servings', nil, placeholder: 'servings' %>
    <br><br>

    <%= check_box_tag "cuisine[]", 'American', nil %> American <br>
    <%= check_box_tag "cuisine[]", 'Thai', nil %> Thai <br>
    <%= check_box_tag "cuisine[]", 'Chinese', nil %> Chinese <br>
    <%= check_box_tag "cuisine[]", 'Fast Food', nil %> Fast Food <br>


    <%= submit_tag %>

  <% end %>
</div>


<script>

  $(document).ready(function(){
    
    var selected_cuisines = [];

    $(".show_first_step").click(function() {
      $(".step0").slideUp(1000);
    });

    $('.ui.checkbox')
      .checkbox()
    ;

    $('.cat_btn').click(function(){
      var selected_cuisines = categoryToggle(this);
      
      
      console.log(selected_cuisines);
    });

    function categoryToggle(cuisine) {
      $(cuisine).toggleClass('highlight');
      if ( $(cuisine).hasClass('highlight') )  {
        selected_cuisines.push( $(cuisine).attr("value") );
      } else {
        var index = selected_cuisines.indexOf($(cuisine).html());
        if (index > -1) {
         selected_cuisines.splice(index, 1);
        }
      }

      return selected_cuisines
    }

    function goToStepTwo(){

    }

    $("#idgas").click(function() {

      $( ".cat_btn" ).each(function() {
        $( this ).addClass( "highlight" );
        selected_cuisines = [];
        selected_cuisines.push( $(this).attr("value") );
      });
       

      $(".cat_btn").addClass("highlight");

      goToStepTwo()
    });

    $("#readytoeat").click(function() {

      goToStepTwo()
    });


    settings = {
        //Model Popup
        objModalPopupBtn: ".modalButton",
        objModalCloseBtn: ".overlay, .closeBtn",
        objModalDataAttr: "data-popup"
    }
      $(settings.objModalPopupBtn).bind("click", function () {
            if ($(this).attr(settings.objModalDataAttr)) {

                var strDataPopupName = $(this).attr(settings.objModalDataAttr);


                //Fade In Modal Pop Up
                $(".overlay, #" + strDataPopupName).fadeIn();

            }
        });

        //On clicking the modal background
        $(settings.objModalCloseBtn).bind("click", function () {
            $(".modal").fadeOut();
        });

  });


  </script>




    <script>

       // On document ready, initialize noUiSlider.
      jQuery(function(){

  

        var slider = $('.budgetslider'),
        input = $('#input-with-keypress');

        // Listen to keydown events on the input field.
        input.keydown(function( e ) {

          // Convert the string to a number.
          var value = Number( slider.val() );

          // 38 is key up,
          // 40 is key down.
          switch ( e.which ) {
            case 38: slider.val( value + 1 );
              break;
            case 40: slider.val( value - 1 );
              break;
          }
        });

        slider.noUiSlider({
          start: 20,
          step:5,
          connect: "lower",
          range: {
            'min': 20,
            'max': 80
          }
        });

        $("#slider").noUiSlider({
          start: 1,
          step:1,
          connect: "lower",
          range: {
            'min': 1,
            'max': 10
          }
    
        });

        $('#slider').on({
          slide: function(){
            $("#people").html('');
              var slidervalz = $('#slider').val();
              for ( var i = 0; i < slidervalz; i++ ) {
              // Logs "try 0", "try 1", ..., "try 4".
                $("#people").append('<i class="fa fa-user"></i>');
              }
          },
          set: function(){
            var slidervalz = $('#slider').val();
            // for ( var i = 0; i < slidervalz; i++ ) {
            // // Logs "try 0", "try 1", ..., "try 4".
            // // $("#people").append('<i class="fa fa-user"></i>');
            // }
          }
        });



        $('.budgetslider').on({
          slide: function(){
            var sliderval = $('.budgetslider').val();
            var upper = parseInt(sliderval) + 30;
            var sliderrange = sliderval + ' ' + upper;

            $('#input-with-keypress').val(sliderrange);
          },
          set: function(){
            var sliderval = $('.budgetslider').val();
            var upper = parseInt(sliderval) + 30;
            var sliderrange = sliderval + ' ' + upper;


            $('#input-with-keypress').html(sliderrange);

          }
        });

        $('.submit').click(function(){


                var firstname = $('.firstname').val();


                var lastname = $('.lastname').val();

                var street = $('.street').val();

                var zip = $('.zip').val();

                var phone = $('.phone').val();
          var lower = $('.budgetslider').val();
          var upper = parseInt(sliderval) + 30;

          var servings = $('#slider').val();

             $.ajax({
                type: "POST", // use method specified in form attributes
                url: '?page_id=1116', // use action specified in form attributes (servlet)
                data: { firstname : firstname, lastname : lastname, street : street, zip : zip, phone : phone, lower : lower, upper : upper, servings : servings }, // encodes set of form elements as string for submission
                success: function(data) { 

                  var result = jQuery.parseJSON(data);
                  // result['status']
                  

                }
            });


        });

        /*

rid:        @restaurant["restaurant_id"],
     em:         "test@test.com",
     tray:       @tray,
     tip:        '5.05',
     first_name: "Joshua",
     last_name:  "Tester",
     phone:      "6478967502",
     zip:        zip,
     addr:       addr,
     city:       city,
     state:      state,
     card_name:        "Joshua Tester",
     card_number:      '4111111111111111',
     card_cvc:         '123',
     card_expiry:      '02/2016',
     card_bill_addr:   addr,
     card_bill_addr2:  "",
     card_bill_city:   city,
     card_bill_state:  state,
     card_bill_zip:    zip,
     card_bill_phone:  "6478967502",
     delivery_date:    "ASAP"
        */
        

        $('.ccsubmit').click(function(){


                var name = $('.name').val();

                var street = $('.street').val();

                var zip = $('.zip').val();

                var phone = $('.phone').val();
          var lower = $('.budgetslider').val();
          var upper = parseInt(sliderval) + 30;

          var servings = $('#slider').val();

             $.ajax({
                type: "POST", // use method specified in form attributes
                url: '?page_id=1116', // use action specified in form attributes (servlet)
                data: { name : name, street : street, zip : zip, phone : phone, lower : lower, upper : upper, servings : servings }, // encodes set of form elements as string for submission
                success: function(data) { 

                  var result = jQuery.parseJSON(data);
                  // result['status']
                  

                }
            });


        });

      });

    </script>